In [1]:
# Standard library packages
import os

# Import Numpy, Pandas and Seaborn
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Load blast results into dataframe

blast_results = pd.read_csv('/Users/la424/Aquadro_lab/fasta_files_blast_database/blast_outputs/blast_lcup.outfmt6', sep="\t", header=None)
blast_reciprocal_results = pd.read_csv('/Users/la424/Aquadro_lab/fasta_files_blast_database/blast_outputs/blast_reciprocal_lcup.outfmt6', sep="\t", header=None)

headers = ["query", "subject", "identity", "length", "mismatch", "gapopen", "qstart", "qend", "sstart", "send", "evalue", "bitscore"]
blast_results.columns = headers
blast_reciprocal_results.columns = headers

In [3]:
#Merge forward and reciprocal results

rbbh = pd.merge(blast_results, blast_reciprocal_results[['query', 'subject']], left_on='subject', right_on='query', how='outer')

In [4]:
#Discard rows that are not RBH
rbbh = rbbh.loc[rbbh.query_x == rbbh.subject_y]

In [5]:
# Group duplicate RBH rows, taking the maximum value in each column
rbbh = rbbh.groupby(['query_x', 'subject_x']).max()

In [6]:
# Inspect the results
rbbh.head()

,,identity,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore,query_y,subject_y
query_x,subject_x,,,,,,,,,,,,
NP_001014479.1,XP_023306730.2,76.009,892.0,165.0,16.0,1.0,876.0,1.0,859.0,0.000000e+00,1274.0,XP_023306730.2,NP_001014479.1
NP_001014492.2,XP_046812586.1,44.010,409.0,223.0,3.0,3.0,407.0,9.0,415.0,1.740000e-117,348.0,XP_046812586.1,NP_001014492.2
NP_001014493.2,XP_046803045.1,46.005,419.0,245.0,9.0,11.0,420.0,429.0,839.0,3.120000e-69,388.0,XP_046803045.1,NP_001014493.2
NP_001014495.1,XP_046800995.1,82.533,229.0,37.0,2.0,224.0,452.0,1.0,226.0,1.090000e-138,397.0,XP_046800995.1,NP_001014495.1
NP_001014504.1,XP_046809816.1,83.877,1042.0,144.0,9.0,1.0,1028.0,1.0,1032.0,0.000000e+00,1750.0,XP_046809816.1,NP_001014504.1

In [7]:
rbbh.to_csv('/Users/la424/Aquadro_lab/fasta_files_blast_database/rbbh_mel_lcup_alt', index=False, sep='\t')